form {
  padding: 20px;
  display: flex;
  max-width: 400px;
  flex-direction: column;
  gap: 10px;
}

:host {
  display: block;
  padding: 30px;
}

:not(mat-form-field *).ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
