<h1>Formal Demo</h1>

<button (click)="reset()">Reset</button>
Click here to reset form to is original state (i.e. untouched, pristine, and
with the default values)

<h2>Native Controls</h2>
<form>
  <label>Name</label>
  <!--TODO: figure out how to bind the invalid-ness of the field to the view, in a way that will integrate well with angular material and such-->
  <input [formField]="form.fields().name" />
  <label>Age</label>
  <input [formField]="form.fields().age" type="number" />
  <label>Gender</label>
  <select [formField]="form.fields().gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <label>
    <input [formField]="form.fields().preferNotToSay" type="checkbox" />
    Prefer not to say</label
  >
  <label>Partner</label>
  <input
    [formField]="form.fields().partner"
    [title]="form.fields().partner | disabledHint"
  />
  <label>Range</label>
  <input [formField]="form.fields().range" type="range" />
  <label>Radio Buttons</label>
  <label>
    <input [formField]="form.fields().gender" type="radio" value="male" />
    Male
  </label>
  <label>
    <input [formField]="form.fields().gender" type="radio" value="female" />
    Female
  </label>
  <label> Multiple Select </label>
  <select [formField]="form.fields().multipleSelect" multiple>
    <option value="a">A</option>
    <option value="b">B</option>
    <option value="c">C</option>
  </select>
  <button
    [disabled]="!isValid()"
    [title]="disabledReason()"
    (click)="save()"
    type="submit"
  >
    Save
  </button>
  <pre>{{ form() | json }}</pre>
  <p>Try changing Age to be <18 to see "Partner" getting disabled.</p>
  <p>
    Try changing name to "Shahar Har-Shuv" to see an example of async
    validation.
  </p>
  <p>Try touching "name" field without</p>
</form>

<h2>Angular Material (i.e. CVS interop)</h2>
<form>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      [formField]="form.fields().name"
      matInput
      placeholder="Ex. John Smith"
    />
    <mat-hint>{{
      isPending(form.fields().name)
        ? "Checking name..."
        : firstErrorMessage(form.fields().name) ?? "Name is good!"
    }}</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input
      [formField]="form.fields().age"
      matInput
      placeholder="Ex. 42"
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select [formField]="form.fields().gender">
      <mat-option [value]="'male'">Male</mat-option>
      <mat-option [value]="'female'">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Partner</mat-label>
    <input [formField]="form.fields().partner" matInput />
    @if (form.fields().partner | disabledHint; as hint) {
      <mat-hint>{{ hint }}</mat-hint>
    }
  </mat-form-field>
  <button
    [disabled]="!isValid()"
    [title]="disabledReason()"
    (click)="save()"
    mat-raised-button
    type="submit"
  >
    Save
  </button>
</form>

<pre
  >{{ form() | json }}
</pre>

<h2>Custom CVA</h2>
<app-custom-value-accessor-number-field [formField]="form.fields().age" />
<pre>Dirty: {{ isDirty(form.fields().age) }}</pre>

<h2>Custom FormField Component</h2>
<app-custom-form-field-number [formField]="form.fields().age" />
<pre>Dirty: {{ isDirty(form.fields().age) }}</pre>
